<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This takes data from a very bad api of weather stack</p>
            <h2>created by {{name}}</h2>
            <img src="/img/me.jpg" alt="" class="portrait">
        </div>
        
        {{>footer}}
    </body>
</html>